body {
  background-color: white;
  position: relative;
}

.main,
.header,
.footer { display: none; }

.group__member {
  position: absolute;
  min-height: 100vh;
  width: 20vw;
  transition: all 0.5s;
  filter: grayscale(100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  animation-duration: 0.9s;
  animation-fill-mode: backwards;
  flex-basis: 0;
  cursor: pointer;
}

.group__member:nth-child(1) {
  background-image: url('/Redvelvet-Fansite/Redvelvet-Fansite/dist/assets/home-irene.jpg');
  animation-name: appearFromTop;
  animation-delay: 0.2s;
  left: 0;
}

.group__member:nth-child(2) {
  background-image: url('/Redvelvet-Fansite/Redvelvet-Fansite/dist/assets/home-seulgi.jpg');
  animation-name: appearFromBottom;
  animation-delay: 0.4s;
  left: 20vw;
}

.group__member:nth-child(3) {
  background-image: url('/Redvelvet-Fansite/Redvelvet-Fansite/dist/assets/home-wendy.jpg');
  animation-name: appearFromTop;
  animation-delay: 0.6s;
  left: 40vw;
}

.group__member:nth-child(4) {
  background-image: url('/Redvelvet-Fansite/Redvelvet-Fansite/dist/assets/home-yeri.jpg');
  animation-name: appearFromBottom;
  animation-delay: 0.8s;
  left: 60vw;
}

.group__member:nth-child(5) {
  background-image: url('/Redvelvet-Fansite/Redvelvet-Fansite/dist/assets/home-joy.jpg');
  animation-name: appearFromTop;
  animation-delay: 1s;
  left: 80vw;
}

.group__member:hover {
  transform: scale(1.1);
}

.group__member--active {
  filter: grayscale(0%);
}

.group__member.group__member--expand {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  background-image: none;
  background-color: white;
  animation: expand 0.5s both;
}

.group__member.group__member--shrink {
  width: 20%;
  z-index: 1;
  background-color: white;
  animation: shrink 0.5s both;
}

.closeBtn {
  position: absolute;
  right: 5%;
  top: 5%;
  display: none;
  z-index: 3;
  cursor: pointer;
  font-size: 10rem;
  animation: fadeInBasic 1s both 0.5s;
}

.upBtn {
  position: fixed;
  right: 5%;
  bottom: 10%;
  z-index: 3;
  background-color: black;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  opacity: 0;
  margin-bottom: -5rem;
  cursor: pointer;
  transition: all 0.5s;
}

.upBtn.loaded {
  opacity: 1;
  margin-bottom: 0;
}

.upBtn img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.single {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: white;
  z-index: 3;
  animation: fadeInBasic 1s both 0.5s;
}

.single__contents {
  height: 100vh;
  position: relative;
  margin-bottom: 5rem;
}

.single__main {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 60vw;
}

.single__main__title {
  position: absolute;
  left: -10%;
  top: -10%;
  color: rgba(0, 0, 0, 0.4);
  font-size: 10rem;
  z-index: 1;
}

.single__main__title span {
  font-size: 5rem;
}

.single__main__profile {
  position: relative;
}

.single__main__profile::after {
  content: ' ';
  z-index: -1;
  position: absolute;
  left: 5%;
  top: 5%;
  width: 100%;
  height: 100%;
}

.single:nth-child(2) .single__main__profile::after { border: 5px solid #dc749f; }
.single:nth-child(3) .single__main__profile::after { border: 5px solid #cdbddc; }
.single:nth-child(4) .single__main__profile::after { border: 5px solid #d17d95; }
.single:nth-child(5) .single__main__profile::after { border: 5px solid #4b73bd; }
.single:nth-child(6) .single__main__profile::after { border: 5px solid #8ea272; }

.single__detail {
  line-height: 2;
}

.single__detail__spec {
  position: absolute;
  font-size: 3rem;
  top: 35%;
  right: 3%;
  color: rgba(0, 0, 0, 0.8);
  width: 40rem;
}

.single__detail__spec span {
  font-weight: bold;
}

.single__detail__spec .line1,
.single__detail__spec .line2,
.single__detail__spec .line3,
.single__detail__spec .line4 {
  animation-name: fadeInFromBottom;
  animation-duration: 1s;
  animation-fill-mode: both;
  display: inline-block;
  opacity: 0;
}

.single__detail__spec .line1 { animation-delay: 0.3s; }
.single__detail__spec .line2 { animation-delay: 0.6s; }
.single__detail__spec .line3 { animation-delay: 0.9s; }
.single__detail__spec .line4 { animation-delay: 1.2s; }

.single__detail__saying {
  position: absolute;
  width: 40rem;
  font-size: 2rem;
  bottom: 5%;
  right: 5%;
  color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  animation: fadeInFromBottom 1s both 1.5s;
}

.single__photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.placeholder {
  width: 80vw;
  opacity: 0;
  transition: all 0.5s;
  margin-bottom: 2rem;
  text-align: center;
}

.placeholder img {
  border-radius: 1rem;
  overflow: hidden;
}

.placeholder:nth-child(odd) { margin-left: -5rem; }
.placeholder:nth-child(even) { margin-right: -5rem; }
.placeholder.intersect { opacity: 1; }
.placeholder.intersect:nth-child(odd) { margin-left: 0; }
.placeholder.intersect:nth-child(even) { margin-right: 0; }

.hide { display: none; }
.show { display: block; }
.no-animation { animation: none; }

/* Animation */

@keyframes appearFromBottom {
  from { margin-top: 100vh; }
  to { margin-top: 0; }
}

@keyframes appearFromTop {
  from { margin-top: -100vh; }
  to { margin-top: 0; }
}

@keyframes appearFromRight {
  from { margin-left: 100vw; }
  to { margin-left: 0; }
}

@keyframes appearFromLeft {
  from { margin-left: -100vw; }
  to { margin-left: 0; }
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    margin-top: 1rem;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes fadeInBasic {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes expand {
  from { width: 20%; }
  to { width: 100%; }
}

@keyframes shrink {
  from { width: 100%; }
  to { width: 20%; }
}

@keyframes expandMobile {
  from { height: 20%; }
  to { height: 110%; }
}

@keyframes shrinkMobile {
  from { height: 100%; }
  to { height: 20%; }
}

@keyframes showPhotoFromRight {
  from {
    margin-right: -20px;
    opacity: 0;
  }

  to {
    margin-right: 0;
    opacity: 1;
  }
}

@keyframes showPhotoFromLeft {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Media Query */

/* Tablet */

@media (max-width: 992px) {
  .single__main__title { top: -20%; }
  .single__detail { line-height: 1.5; }
  .single__detail__spec { top: 45%; }

  .upBtn {
    width: 5rem;
    height: 5rem;
    right: 10%;
    bottom: 5%;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .main {
    position: relative;
    height: 90vh;
  }

  .group {
    height: 100%;
    position: absolute;
  }

  .group__member {
    width: 100vw;
    min-height: 20%;
    background-position: 0% 30%;
    justify-content: flex-start;
  }

  .group__member:nth-child(1) {
    top: 0%;
    left: 0;
    animation-name: appearFromLeft;
  }

  .group__member:nth-child(2) {
    top: 20%;
    left: 0;
    animation-name: appearFromRight;
  }

  .group__member:nth-child(3) {
    top: 40%;
    left: 0;
    animation-name: appearFromLeft;
    background-position-y: 25%;
  }

  .group__member:nth-child(4) {
    top: 60%;
    left: 0;
    animation-name: appearFromRight;
    background-position-y: 25%;
  }

  .group__member:nth-child(5) {
    top: 80%;
    left: 0;
    animation-name: appearFromLeft;
    background-position-y: 40%;
  }

  .group__member.group__member--expand {
    top: 0;
    width: 100vw;
    height: 110%;
    animation: expandMobile 0.5s both;
  }

  .group__member.group__member--shrink {
    height: 20%;
    width: 100vw;
    z-index: 1;
    background-color: white;
    animation: shrinkMobile 0.5s both;
  }

  .single__contents {
    height: auto;
  }

  .single__main,
  .single__main__title,
  .single__detail__spec,
  .single__detail__saying {
    position: static;
  }

  .single__main,
  .single__detail__spec,
  .single__detail__saying {
    width: 80vw;
    margin: 0 auto;
  }
  .single__main__title { font-size: 5rem; }
  .single__main__title span { font-size: 2.5rem; }

  .single__detail__spec {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .single__detail__saying { font-size: 1.5rem; }

  .single__detail__spec,
  .single__detail__saying {
    line-height: 1.5;
  }

  .closeBtn {
    font-size: 5rem;
    top: 1%;
  }

  .placeholder {
    width: 80vw;
    margin-bottom: 2rem;
  }
}
