.group {
  background-color: #080305;
}

.group__member {
  position: absolute;
  min-height: 100vh;
  width: 20vw;
  transition: all .5s;
  filter: grayscale(100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  animation-duration: .9s;
  animation-fill-mode: backwards;
  flex-basis: 0;
  cursor: pointer;
}

.group__member h2 {
  color: white;
  margin-bottom: 6rem;
  font-size: 4rem;
  font-family: 'Libre Caslon Text', serif;
  transition: font-size .5s;
  animation-name: fadeInFromBottom;
  animation-duration: 1s;
  animation-delay: 1.2s;
  animation-fill-mode: backwards;
}

.group__member:nth-child(1) { 
  background-image: url('../images/home-irene.jpg');
  animation-name: appearFromTop;
  animation-delay: .2s;
  left: 0;
}
.group__member:nth-child(2) { 
  background-image: url('../images/home-seulgi.jpg');
  animation-name: appearFromBottom;
  animation-delay: .4s;
  left: 20vw;
}
.group__member:nth-child(3) { 
  background-image: url('../images/home-wendy.jpg');
  animation-name: appearFromTop;
  animation-delay: .6s;
  left: 40vw;
}
.group__member:nth-child(4) { 
  background-image: url('../images/home-yeri.jpg');
  animation-name: appearFromBottom;
  animation-delay: .8s;
  left: 60vw;
}
.group__member:nth-child(5) { 
  background-image: url('../images/home-joy.jpg');
  animation-name: appearFromTop;
  animation-delay: 1s;
  left: 80vw;
}

.group__member:hover {
  transform: scale(1.1);
}

.group__member:hover h2 {
  font-size: 5rem;
}

.group__member--active {
  filter: grayscale(0%);
}

.group__member.group__member--expand {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-image: none;
  background-color: #080305;
}

.group__member.group__member--expand h2 {
  text-indent: -9999px;
}

.backBtn {
  position: absolute;
  left: 5%;
  top: 2%;
  display: none;
  z-index: 3;
  cursor: pointer;
}

.backBtn img {
  width: 6rem;
  height: 6rem;
}

.backBtn img:hover {
  animation: backBtnMove .5s both;
}

.single {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #080305;
  z-index: 2;
  animation: fadeInBasic 1s both .5s;
}

.single__inside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
}

.single__profile {
  flex-basis: 60rem;
  transform: rotate(-5deg) translateX(-10%);
}

.single__profile__img {
  padding-top: 150%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 -1rem .5rem 1rem rgba(0,0,0,0.3);
  margin-right: 4rem;
  animation: expand 1s ease .5s forwards;
  position: relative;
}

.single__profile__irene { background-image: url('../images/about-irene.jpg'); }
.single__profile__seulgi { background-image: url('../images/about-seulgi.jpg'); }
.single__profile__wendy { background-image: url('../images/about-wendy.jpg'); }
.single__profile__yeri { background-image: url('../images/about-yeri.jpg'); }
.single__profile__joy { background-image: url('../images/about-joy.jpg'); }

.single__profile__img:before {
  content: ' ';
  position: absolute;
  z-index: -6;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: 10px solid white;
  transform: rotate(-5deg) translateX(-10%);
  animation: expand 1s ease .5s forwards;
}

.single__detail {
  padding-top: 4rem;
  flex-basis: 50rem;
  color: white;
}

.single__detail__spec{
  font-size: 2.5rem;
  margin-bottom: 3rem;
  line-height: 1.5;
}

.single__detail__spec .line1,
.single__detail__spec .line2,
.single__detail__spec .line3,
.single__detail__spec .line4,
.single__detail__spec .line5 { 
  animation-name: fadeInFromBottom;
  animation-duration: 1s;
  animation-fill-mode: both;
  display: inline-block;
}

.single__detail__spec .line1 { animation-delay: .3s; }
.single__detail__spec .line2 { animation-delay: .6s; }
.single__detail__spec .line3 { animation-delay: .9s; }
.single__detail__spec .line4 { animation-delay: 1.2s; }
.single__detail__spec .line5 { animation-delay: 1.5s; }

.single__detail__saying {
  font-size: 2rem;
  line-height: 1.5;
  animation-name: fadeInFromBottom;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1.8s;
}

.hide { display: none; }
.show { display: block; }

@keyframes appearFromBottom {
  from { margin-top: 100vh; }
  to { margin-top: 0; }
}
@keyframes appearFromTop {
  from { margin-top: -100vh; }
  to { margin-top: 0; }
}

@keyframes appearFromRight {
  from { margin-left: 100vw; }
  to { margin-left: 0; }
}
@keyframes appearFromLeft {
  from { margin-left: -100vw; }
  to { margin-right: 0; }
}

@keyframes fadeInFromBottom {
  from { 
    opacity: 0;
    margin-top: 1rem; 
  }
  to { 
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes fadeInBasic {
  from { opacity: 0;  }
  to { opacity: 1;  }
}

@keyframes expand {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes backBtnMove {
  from { transform: translateX(0); }
  to { transform: translateX(-20%); }
}

@media ( max-width: 768px ) {
  html {
    font-size: 70%;
  }
  .header {
    position: static;
    height: 10vh;
    background-color: #080305;
  }
  .group {
    height: 90vh;
    position: absolute;
  }
  .group__member {
    width: 100%;
    min-height: 20%;
    background-position: 0% 30%;
    justify-content: flex-start;
  }
  .group__member h2 {
    margin-left: 4rem;
  }
  .group__member:nth-child(1) { 
    top: 0%;
    left: 0;
    animation-name: appearFromLeft; 
    background-position: 0% 20%;
  }
  .group__member:nth-child(2) { 
    top: 20%;
    left: 0;
    animation-name: appearFromRight; 
  }
  .group__member:nth-child(3) { 
    top: 40%;
    left: 0;
    animation-name: appearFromLeft; 
  }
  .group__member:nth-child(4) { 
    top: 60%;
    left: 0;
    animation-name: appearFromRight; 
  }
  .group__member:nth-child(5) { 
    top: 80%;
    left: 0;
    animation-name: appearFromLeft; 
  }
  .group__member.group__member--expand {
    top: 0;
    height: 100vh;
  }
  .single {
    height: auto;
  }
  .single__inside {
    flex-direction: column;
    width: 100%;
    position: static;
    transform: none;
    align-items: center;
    padding-top: 10rem;
  }
  .single__profile,
  .single__detail {
    width: 30rem;
  }
  .single__profile {
    margin-left: 10rem;
    flex-basis: 0px;
  }
  .single__detail {
    padding-top: 10rem;
  }
}

@media ( min-width: 769px ) and ( max-width: 1200px ) {
  .single__detail {
    width: 60rem;
  }
}