/* CSS Reset */

body,
ul,
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: top;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

@font-face {
  font-family: "Julietta";
  src: url("../fonts/Julietta.woff") format('woff');
}

@font-face {
  font-family: "Anton";
  src: url('https://fonts.googleapis.com/css?family=Anton&display=swap');
}

@font-face {
  font-family: "Nanum Myungjo";
  src: url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: 'Nanum Myungjo', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1;
}

/* Common */

.l-row::after,
.clearfix::after {
  content: ' ';
  display: block;
  clear: both;
}

.header { padding: 1rem 5rem; }

.header--float {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.header--fixed {
  position: static;
  height: 10vh;
}

header h1 { text-indent: -9999px; }

.header__inside {
  position: relative;
}

.header__logo {
  max-width: 200px;
  float: left;
  overflow: hidden;
}

.header__menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.overlay {
  position: fixed;
  background: rgba(51, 55, 69, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  font-family: "Julietta", serif;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  z-index: 10000;
  height: 100%;
}

.overlay__menu {
  position: relative;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
}

.overlay__menu ul {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay__menu ul li {
  display: block;
  position: relative;
  opacity: 0;
  margin-bottom: 5rem;
  height: 1em;
}

.overlay__menu ul li a {
  display: inline-block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}

.overlay__menu ul li a::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 43.5%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}

.overlay__menu ul li a:hover,
.overlay__menu ul li a:focus,
.overlay__menu ul li a:active {
  color: #ea2e49;
}

.overlay__menu ul li a:hover::after,
.overlay__menu ul li a:focus::after,
.overlay__menu ul li a:active::after {
  width: 100%;
  background: #ea2e49;
}

.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) { animation-delay: 0.4s; }
.overlay.open li:nth-of-type(3) { animation-delay: 0.45s; }
.overlay.open li:nth-of-type(4) { animation-delay: 0.5s; }

.overlay__closeBtn {
  position: absolute;
  top: 3rem;
  left: 6rem;
  font-size: 10rem;
  color: white;
  transition: color 0.5s;
}

.overlay__closeBtn:hover {
  color: #ea2e49;
}

/* Hamburgur */

input[id="menuicon"] { display: none; }

input[id="menuicon"] + label {
  display: block;
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

input[id="menuicon"] + label span {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  position: absolute;
  transition: all 0.35s;
}

input[id="menuicon"] + label span:nth-child(1) { top: 0; }

input[id="menuicon"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) { bottom: 0; }

.header__menu--light input[id="menuicon"] + label span { background-color: white; }
.header__menu--dark input[id="menuicon"] + label span { background-color: black; }

/* Layouts */

.l-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2rem;
}

.footer {
  color: white;
  padding: 1rem 0;
}

.footer p {
  white-space: nowrap;
}

.footer--float {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 10;
}

.footer--fixed {
  position: static;
  transform: none;
  text-align: center;
}

.footer__social {
  text-align: center;
}

.footer__social li {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.footer__social li span {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('../images/social.png');
  background-size: 210px 60px;
}

.footer--light p { color: white; }
.footer--dark p { color: black; }

.footer--light .footer__social__twitter { background-position: -30px 30px; }
.footer--light .footer__social__youtube { background-position: -60px 30px; }
.footer--light .footer__social__instagram { background-position: -120px 30px; }
.footer--light .footer__social__vlive { background-position: -150px 30px; }

.footer--dark .footer__social__twitter { background-position: -30px 0; }
.footer--dark .footer__social__youtube { background-position: -60px 0; }
.footer--dark .footer__social__instagram { background-position: -120px 0; }
.footer--dark .footer__social__vlive { background-position: -150px 0; }

.loader {
  position: relative;
  height: 100vh;
}

.loader.hide { display: none; }

.loader__indicator {
  color: #000;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: top left;
  transform: translateZ(0) translate(-50%, -50%);
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

/* Animation */

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
    transform: rotate(0deg) translate(-50%, -50%);
  }

  100% {
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

/* Media Query */

@media (max-width: 768px) {
  .header { padding: 1rem 1rem; }
  .overlay nav { font-size: 3.5rem; }
  .footer p { font-size: 1.2rem; }
}
