body {
  background-color: #031f1c;
  transition: background-color 0.5s;
}

.swiper {
  height: 100vh;
  position: relative;
}

.swiper__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  transition: all 0.5s;
  cursor: pointer;
}

.swiper__img__inside {
  position: relative;
  padding-top: 150%;
}

.swiper__contents__main,
.swiper__img__left,
.swiper__img__right {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper__contents__main {
  z-index: 1;
  transition: all 0.5s;
}

.swiper__img__left {
  transition: all 0.5s;
}

.swiper__img__right {
  transition: all 0.5s;
}

.irene__left { background-image: url('../images/photo-irene1.jpg'); }
.irene__right { background-image: url('../images/photo-irene2.jpg'); }
.irene__main { background-image: url('../images/photo-irene3.jpg'); }
.seulgi__left { background-image: url('../images/photo-seulgi1.jpg'); }
.seulgi__right { background-image: url('../images/photo-seulgi2.jpg'); }
.seulgi__main { background-image: url('../images/photo-seulgi3.jpg'); }
.wendy__left { background-image: url('../images/photo-wendy1.jpg'); }
.wendy__right { background-image: url('../images/photo-wendy2.jpg'); }
.wendy__main { background-image: url('../images/photo-wendy3.jpg'); }
.yeri__left { background-image: url('../images/photo-yeri1.jpg'); }
.yeri__right { background-image: url('../images/photo-yeri2.jpg'); }
.yeri__main { background-image: url('../images/photo-yeri3.jpg'); }
.joy__left { background-image: url('../images/photo-joy1.jpg'); }
.joy__right { background-image: url('../images/photo-joy2.jpg'); }
.joy__main { background-image: url('../images/photo-joy3.jpg'); }

.swiper__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  transition: all 0.5s;
  cursor: pointer;
}

.swiper__title h2 {
  font-size: 20rem;
  color: white;
  font-family: 'Libre Caslon Display', serif;
}

.swiper__contents {
  border: 5px solid red;
}

.swiper__contents__inside {
  display: none;
}

.swiper__contents__component {
  margin-top: 3rem;
  position: relative;
  width: 80vw;
}

.hover-up { top: 45%; }
.hover-hide { opacity: 0.7; }
.move-up { animation: moveUp 1.5s both 0.5s; }
.left-rotate { transform: rotate(-5deg) translateX(-50%); }
.right-rotate { transform: rotate(5deg) translateX(50%); }
.left-gone { animation: leftGone 1s both; }
.right-gone { animation: rightGone 1s both; }
.move-down { animation: moveDown 1.5s both 0.5s; }
.hide { animation: hide 1s both 0.5s; }

.show {
  display: block;
  position: absolute;
  animation: show 0s both 1s;
}

/* TODO !important가 좋은 해결방법인가? */
.no-rebuild {
  animation-duration: 0s !important;
  animation-delay: 0s !important;
}

@keyframes leftGone {
  from { transform: rotate(-5deg) translateX(-50%); }

  to {
    transform: rotate(0deg) translateX(-100%);
    opacity: 0;
  }
}

@keyframes rightGone {
  from { transform: rotate(5deg) translateX(50%); }

  to {
    transform: rotate(0deg) translateX(100%);
    opacity: 0;
  }
}

@keyframes moveUp {
  from { top: 50%; }
  to { top: 5%; }
}

@keyframes moveDown {
  from {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  to {
    top: 40%;
    transform: translate(-50%, 0%);
    width: 80vw;
  }
}

@keyframes moveDownMobile {
  from {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  to {
    top: 20%;
    transform: translate(-50%, 0%);
    width: 80vw;
  }
}

@keyframes show {
  from { top: 200%; }
  to { top: 100%; }
}

@keyframes hide {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* Media Query */

@media (max-width: 768px) {
  .swiper__title h2 {
    font-size: 10rem;
  }

  .move-down {
    animation: moveDownMobile 1.5s both 0.5s;
  }
}
