body {
  background-color: #031F1C;
}

.swiper {
  height: 100vh;
  position: relative;
}

.swiper__img { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  transition: all .5s;
  cursor: pointer;
}

.swiper__img__inside {
  position: relative;
  padding-top: 150%;
}

.swiper__contents__main,
.swiper__img__left,
.swiper__img__right {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper__contents__main { 
  z-index: 1;
  transition: all .5s;
}

.swiper__img__left {
  transform: rotate(-5deg) translateX(-50%);
  transition: all .5s;
}

.swiper__img__right {
  transform: rotate(5deg) translateX(50%);
  transition: all .5s;
}

.irene__left { background-image: url('../images/photo-irene1.jpg'); }
.irene__right { background-image: url('../images/photo-irene2.jpg'); }
.irene__main { background-image: url('../images/photo-irene3.jpg'); }
.seulgi__left { background-image: url('../images/photo-seulgi1.jpg'); }
.seulgi__right { background-image: url('../images/photo-seulgi2.jpg'); }
.seulgi__main { background-image: url('../images/photo-seulgi3.jpg'); }

.swiper__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-10%);
  transition: all .5s;
  cursor: pointer;
}

.swiper__title h2 {
  font-size: 200px;
  color: white;
  font-family: 'Libre Caslon Display', serif;
}

.swiper__contents {
  border: 5px solid red;
}

.swiper__contents__inside {
  display: none;
}

.swiper__contents__component {
  margin-top: 3rem;
  position: relative;
  width: 80vw;
}

.hover-up   { top: 45%; }
.hover-hide { opacity: 0.7; }
.move-up    { animation: moveUp 1.5s both .5s; }
.left-gone  { animation: leftGone 1s both; }
.right-gone { animation: rightGone 1s both; }
.move-down  { animation: moveDown 1.5s both .5s; }
.appear     { display: block; position: absolute; animation: appear 0s both 1s; }
/* TODO !important가 좋은 해결방법인가? */
.no-rebuild { animation-duration: 0s !important; animation-delay: 0s !important; }

@keyframes leftGone {
  from { transform: rotate(-5deg) translateX(-50%); }
  to { transform: rotate(0deg) translateX(-100%); opacity: 0; }
}
@keyframes rightGone {
  from { transform: rotate(5deg) translateX(50%); }
  to { transform: rotate(0deg) translateX(100%); opacity: 0; }
}
@keyframes moveUp {
  from { top: 50%; }
  to { top: 5%; }
}
@keyframes moveDown {
  from { top: 50%; transform: translate(-50%,-50%); }
  to { top: 40%; transform: translate(-50%,0%); width: 80vw; }
}
@keyframes moveDownMobile {
  from { top: 50%; transform: translate(-50%,-50%); }
  to { top: 20%; transform: translate(-50%,0%); width: 80vw; }
}
@keyframes appear {
  from { top: 200%; }
  to { top: 100%; }
}

@media ( max-width: 768px ) {
  .swiper__title h2 {
    font-size: 100px;
  }
  .move-down {
    animation: moveDownMobile 1.5s both .5s;
  }
}